/*CSS for Taiwan pop density*/

body {
    font: 20px sans-serif;
    margin:auto;
    text-align: center;
    position: relative;
}

h1.title {
  text-align: center;
  color: #0052b0;
  font-size: xx-large;
}

